<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	version="2.5">
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>UploadPict</servlet-name>
		<servlet-class>com.clopez.watchdog.UploadPict</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UploadPict</servlet-name>
		<url-pattern>/UploadPict</url-pattern>
	</servlet-mapping>
	<servlet>
		<description></description>
		<display-name>Auth</display-name>
		<servlet-name>Auth</servlet-name>
		<servlet-class>com.clopez.watchdog.Auth</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Auth</servlet-name>
		<url-pattern>/Auth</url-pattern>
	</servlet-mapping>
</web-app>